asgiref==3.7.2
black==25.1.0
click==8.2.1
Django==4.2.11
django-extensions==3.2.3
Faker==37.4.2
importlib_metadata==7.0.2
logging-tree==1.9
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.2.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.10.0
tzdata==2025.2
yapf==0.40.2
zipp==3.18.1
